{% extends "base.html" %}

{% load static %}

{% block content %}

    <link href="{% static "vendor/datatables/dataTables.bootstrap4.min.css" %}" rel="stylesheet">

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Alimentos</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>Nome</th>
                        <th>Ações</th>

                    </tr>
                    </tfoot>
                    <tbody>
                    {% for alimento in alimentos %}
                        <tr>
                            <td>

                                <a href="{% url 'update_alimento' alimento.id %}">
                                    {{ alimento.nome }}
                                </a>

                            </td>
                            <td class="text-center">
                                <a id="botao" href="#" class="btn btn-warning btn-circle btn-sm">
                                    <i id="icone" class="fas fa-edit"></i>
                                </a>
                                <a id="botao" href="{% url 'delete_alimento' alimento.id %} " class="btn btn-danger btn-circle btn-sm">
                                    <i id="icone" class="fas fa-trash"></i>
                                </a>
                            </td>

                        </tr>

                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>

    <script src="{% static "vendor/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "vendor/datatables/dataTables.bootstrap4.min.js" %}"></script>

    <!-- Page level custom scripts -->
    <script src="{% static "js/demo/datatables-demo.js" %}"></script>


{% endblock %}